.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list {
  display: flex;
  text-decoration: none;
}

.link {
  font-size: 16px;
  line-height: 120%;
  color: #1d1f22;
  text-decoration: none;
  padding: 4px 16px 32px 16px;
}

.activeLink {
  font-weight: 600;
  color: #5ece7b;
  text-decoration: none;
  border-bottom: 2px solid #5ece7b;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.secondaryNav {
  display: flex;
  align-items: center;
}

.currency {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
